meta http-equiv="refresh" content="0;URL=https://docs.google.com/a/l4m3.com/forms/d/1EBwVs27zUQlQyVSfcMwzE5YMYWq0UbUF9AurCdbyo6Y/viewform"
  h1= link_to "Click Here if you are not redirected", "https://docs.google.com/a/l4m3.com/forms/d/1EBwVs27zUQlQyVSfcMwzE5YMYWq0UbUF9AurCdbyo6Y/viewform", class: ''

coffee:
  window.location.replace("https://docs.google.com/a/l4m3.com/forms/d/1EBwVs27zUQlQyVSfcMwzE5YMYWq0UbUF9AurCdbyo6Y/viewform")
